<h1>Questions</h1>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Image</th>
      <th>Music</th>
      <th>Quiz</th>
      <th>#</th>
    </tr>
  </thead>

  <tbody>
    {% for question in questions %}
    <tr>
      <td>{{ question.id }}</td>
      <td>{{ question.question }}</td>
      <td>{{ question.answer }}</td>
      <td>
        {% if question.image %}
          <img src="{{ url_for('static', filename='image/' + question.image ) }}">
        {% endif %}
      </td>
      <td>
        {% if question.music %}
          <audio controls>
            <source src="{{ url_for('static', filename='music/' + question.music ) }}" type="audio/mpeg">
          </audio>
        {% endif %}
      </td>
      <td>
        {% if question.quiz %}
          <a href="/quiz/{{ question.quiz.date }}">{{ question.quiz.name }} ({{ question.quiz.date }})</a>
        {% endif %}
      </td>
      <td>
        {% if question.order %}
          {{ question.order }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
